body{
    width: 100%;
    background-color: #fff;
}

#enviar{
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color: #ffa500;
    box-shadow: #0000000d 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
}
#enviar:hover{
    letter-spacing: 3px;
    background-color: #ffa500;
    color: #fff;
    box-shadow: #ffa500 0px 7px 29px 0px;
}

#enviar:active{
    letter-spacing: 3px;
    background-color: #ffa500;
    color: #fff;
    box-shadow: #ffa500 0px 0px 0px 0px;
    transform: translate(10px);
    transition: 100ms;
}

h1{
    color: #ffa500;
}
h2{
    color: #ffa500;
}